{
  "displayname": "",
  "displayname": "",
  "authorization": "",
  "subscriber": false,
  "channels": [
    "97982079"
  ],
  "usernames": {
      "random": false,
      "limit": 500,
      "list": [
        "PixelByPixelStudios",
        "Spooo",
        "Spoooo"
      ]
    }
}
